*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
nav{
    position: fixed;
    width: 100%;
    padding: 13px 0;
    background-color: chartreuse;
}
.nav__content{
    width: 80%;
    padding: 0 50px;
}
nav > .nav__content{
    display: flex;
    justify-content: space-between;
}
nav  .nav__content  ul{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
nav  .nav__content  ul li a{
    font-size: 20px;
    color: black;
}
nav > .nav__content > a{
    font-size: 25px;
    color: black;
    text-transform: uppercase;
}
header{
    height: 90vh;
}
section{
    height: 100vh;
}
section:nth-child(1){
    background-color: blue;
}
section:nth-child(2){
    background-color: green;
}
section:nth-child(3){
    background-color: crimson;
}
section:nth-child(4){
    background-color: gray;
}